// colors
$whiteColor: hsl(0, 100%, 100%);
$blueColor: hsl(233, 100%, 69%);
$darkBlueColor: hsl(232, 63%, 58%);
$greenColor: hsl(171, 66%, 44%);
$darkGreenColor: hsl(170, 66%, 37%);
$grayColor700: hsl(210, 10%, 33%);
$grayColor500: hsl(201, 11%, 66%);
$grayColor200: hsl(220, 17%, 96%);

// width
$tabletWidth: 600px;
$laptopWidth: 1200px;